RewriteEngine On
# If the request is for a valid directory
RewriteCond %{REQUEST_FILENAME} -d [OR]
# If the request is for a valid file
RewriteCond %{REQUEST_FILENAME} -f [OR]
# If the request is for a valid link
RewriteCond %{REQUEST_FILENAME} -l
# Do nothing
RewriteRule ^ - [L]
# Otherwise, redirect all requests to index.html
RewriteRule ^ index.html [L]